.anchor
.DS_Store
target
**/*.rs.bk
node_modules
test-ledger
.yarn
encrypted-ixs/arcis_temp_target
build
encrypted-ixs/src/main.rs
artifacts/

# Environment variables
.env.local
.env
*.env

# Frontend build artifacts
frontend/.next
frontend/.env.local
frontend/node_modules
